<!DOCTYPE html>
<html>
    <head>
        <title>Killer Sports Feed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
        <meta name="theme-color" content="#d91e18">
        <meta name="msapplication-navbutton-color" content="#d91e18">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="icon" type="image/png" href="/assets/sf-icon.png">
        <link rel="stylesheet" href="/css/theme.css">
	</head>
    <body>
        <header>
            <img src="/assets/sf-icon.svg" alt="sportsfeed logo">
        </header>
        <div id="a-container">
        </div>
        <div id="loading" class="hidden">
            <div class="dot" data-n="1"></div>
            <div class="dot" data-n="2"></div>
            <div class="dot" data-n="3"></div>            
        </div>
        <script src="/js/app.js"></script>
	</body>
</html>

